$main-font: 'Inter', sans-serif;
$gray-line : #343434;
$gray-background: #1C1C1E;
$gray-font: #9d9ca1;
$white: #FFFFFF;
$black: #000000;
$orange: #F0A500;
$orange-dark: #c78901;
$orange-shadow: rgba(240, 165, 0, 0.4) 0px 30px 90px;
$blue:#3282B8;
$blue-dark:#215a81;
$blue-shadow: rgba(50, 130, 184, 0.4) 0px 30px 90px;
$green: #4E9F3D;
$green-dark: #3a762e;
$green-shadow: rgba(78, 159, 61, 0.4) 0px 30px 90px;
$red: #F05454;
$red-dark: #b94242;
$red-shadow: rgba(240, 84, 84, 0.4) 0px 30px 90px;
$red-alert: #EC2525;